<p style="color: #5E5E5E;">** This is a system-generated message. Please do not reply to this email.**</p>

<p>Application No.: <%= model.idCode %></p>

<p>Dear <%= model.GivenName %>,</p>

<p>Your application has been received and is now being studied. You may amend your contact information, update your public examination results or upload the supporting documents
    after submission.</p>
    
<p>Should you have any enquiries, please contact us at 3411-2200. Thank you for your attention.</p>

<p>Yours sincerely, <br>
    Admissions Section <br>
    Academic Registry <br>
    Hong Kong Baptist University</p>