<div class="container" style="width: 1140px; position: static; text-align:right;">
    <% if (req.session.role !=undefined) {%>

        <a href="/user/logout" class="item" style="color: black;">(Logout)</a>

        <%}%>
</div>