<p style="color: #5E5E5E;">** This is a system-generated message. Please do not reply to this email.**</p>

<p>Dear <%= model.GivenName %>,</p>

<p>A request for resetting your password to the HKBU Application System for Undergraduate Programmes has been received. If you have initiated this request, please click on the link below to reset your password.</p>

<p><a href="http://localhost:1337/user/resetPassword/<%= model.id%>">http://localhost:1337/user/resetPassword/<%= model.id%></a>
<p>If you have not initiated this request, please ignore this email. However, it is advised that you change your password to your application system.</p>

<p>For enquiries, please contact us by email at ardirect@hkbu.edu.hk or by phone ay (852) 3411 2200./p>

<p>Best wishes, <br>
Admissions Office <br>
Academic Registry <br>
Hong Kong Baptist University</p>