<style type="text/css">
  body {
    background: #e0ded6;
    font-family: "Helvetica Neue", Helvetica, Arial;
    padding-top: 20px;
  }

  #form-register {
    padding: 0px 25px 25px;
    background: #fff;
    box-shadow:
      0px 0px 0px 5px rgba(255, 255, 255, 0.4),
      0px 4px 20px rgba(0, 0, 0, 0.33);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: table;

    position: static;
  }

  #form-register .redirect .links {
    color: #8f8f8f;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 7px;
    text-align: center;

  }

  #form-register .redirect .text {
    color: #666666;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 7px;
    text-align: center;
  }

  #form-register .inputs #submitBtn {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 15px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    background: -moz-linear-gradient(top,
        #b9c5dd 0%,
        #a4b0cb);
    background: -webkit-gradient(linear, left top, left bottom,
        from(#b9c5dd),
        to(#a4b0cb));
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #737b8d;
    -moz-box-shadow:
      0px 5px 5px rgba(000, 000, 000, 0.1),
      inset 0px 1px 0px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow:
      0px 5px 5px rgba(000, 000, 000, 0.1),
      inset 0px 1px 0px rgba(255, 255, 255, 0.5);
    box-shadow:
      0px 5px 5px rgba(000, 000, 000, 0.1),
      inset 0px 1px 0px rgba(255, 255, 255, 0.5);
    text-shadow:
      0px 1px 3px rgba(000, 000, 000, 0.3),
      0px 0px 0px rgba(255, 255, 255, 0);
    display: table;
    position: static;
    clear: both;
  }

  #form-register .inputs #submitBtn:hover {
    background: -moz-linear-gradient(top,
        #a4b0cb 0%,
        #b9c5dd);
    background: -webkit-gradient(linear, left top, left bottom,
        from(#a4b0cb),
        to(#b9c5dd));
  }

  #form-register .inputs #submitBtn:active,
  #submitBtn:visited,
  #submitBtn:focus {
    outline-color: #777777;
  }

  input::-webkit-input-placeholder {
    color: #b5b5b5;
  }

  input:-moz-placeholder {
    color: #b5b5b5;
  }

  #form-register .inputs input[type=email]:focus,
  input[type=password]:focus {
    background: #fff;
    box-shadow: 0px 0px 0px 3px #fff38e, inset 0px 2px 3px rgba(0, 0, 0, 0.2), 0px 5px 5px rgba(0, 0, 0, 0.15);
    outline: none;
  }
</style>

<style>
  #form-register input[readonly] {
    border: 1px solid #fff;
    border-bottom: 1px solid #000;
    padding-left: .75rem;
    padding-right: .75rem
  }
</style>

<!-- onsubmit="submitForm(this); return false" -->

<div class="container" style="width: 700px; max-width: 700px; margin: 0 auto;">
  <form id="form-register" action="/user/register" method="POST" onsubmit="submitForm(this); return false">

    <div class="header" style="margin-bottom: 20px;">

      <h3 style="color: #333333;
          font-size: 24px;
          font-weight: bold;
          margin-bottom: 5px;">REGISTRATION</h3>

      <p style="color: #8f8f8f;
          font-size: 14px;
          font-weight: 300;">Fill out this form to start registering for an account with the Application System for
        Undergraduate Programmes at Hong Kong Baptist University.</p>

    </div>

    <div class="sep" style="height: 1px;
      background: #e8e8e8;
      width: 700px;
      margin: 0px -25px;"></div>

    <div class="inputs" style="margin-top: 25px;">

      <div>
        <label style="color: #666666; padding: 0px 10px 0px 0px;">Email
          Address</label>
        <input type="email" class="form-control" name="Email" style="background: #f5f5f5;
        font-size: 0.8rem;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        border: none;
        padding: 13px 10px;
        width: 410px;
        margin-left: 28px;
        margin-bottom: 20px;
        box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
        clear: both;" autofocus required />
      </div>

      <div>
        <label style="color: #666666; padding: 0px 10px 0px 0px;">Password</label>
        <input type="password" class="form-control" id="pw" name="Password" style="background: #f5f5f5;
          font-size: 0.8rem;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          border-radius: 3px;
          border: none;
          padding: 13px 10px;
          width: 410px;
          margin-left: 60px;
          margin-bottom: 5px;
          box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
          clear: both;" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,15}" required />
      </div>

      <div style="color: #777777; font-size: 14px; margin-left: 145px; margin-right: 50px;"><span>
          (8 - 15 characters including uppercase letters, lowercase letters and numerals)</apan>
      </div>

      <div>
        <label style="color: #666666; padding: 0px 10px 0px 0px;">Re-type Password</label>
        <input id="confirmpw" class="form-control" type="password" name="ConfirmPassword"
          onblur="validateConfirmPassword()" style="background: #f5f5f5;
        font-size: 0.8rem;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        border: none;
        padding: 13px 10px;
        width: 410px;
        margin-top: 20px;
        margin-bottom: 20px;
        box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
        clear: both;" required />
      </div>

      <div>
        <label style="color: #666666; padding: 0px 10px 0px 0px;">Surname</label>
        <input type="text" class="form-control" name="Surname" style="background: #f5f5f5;
        font-size: 0.8rem;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        border: none;
        padding: 13px 10px;
        width: 410px;
        margin-left: 65px;
        margin-bottom: 20px;
        box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
        clear: both;" pattern="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$"
          oninput="value=value.replace(/[^',\.\ \-a-zA-Z]/g,'')" requiredautofocus required />
      </div>

      <div>
        <label style="color: #666666; padding: 0px 10px 0px 0px;">Given Name</label>
        <input type="text" class="form-control" name="GivenName" style="background: #f5f5f5;
        font-size: 0.8rem;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        border: none;
        padding: 13px 10px;
        width: 410px;
        margin-left: 40px;
        margin-bottom: 20px;
        box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
        clear: both;" pattern="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$"
          oninput="value=value.replace(/[^',\.\ \-a-zA-Z]/g,'')" autofocus required />
      </div>

      <button type="submit" id="submitBtn">Submit</button>

      <div class="redirect" style="display: block;
            position: static;
            height: 25px;
            margin-top: 10px;
            clear: both;">

        <p class="text">Already have an account? <a class="links" href="/user/login">Login here</a></p>
      </div>

    </div>

  </form>

</div>
​
<script>
  async function submitForm(oFormElement) {

    var response = await fetch(oFormElement.action, {
      method: oFormElement.method,
      credentials: 'same-origin',
      body: new FormData(oFormElement),
    });

    if (response.ok) {
      var data = await response.json();   // for res.ok() or res.json()
      // alert(data.message);
      window.location = data.url;

    } else if (response.status == 409) {    //bad request
      var data = await response.text();   // for res.send()
      alert(data);
    } else {
      alert(response.statusText);
    }
  };
</script>

<script>
  function validateConfirmPassword() {

    var pw = document.getElementById('pw');
    var confirmpw = document.getElementById('confirmpw');

    if (confirmpw.value !== pw.value) {

      confirmpw.setCustomValidity('Passwords do not match.');

    } else {

      confirmpw.setCustomValidity('');
    }
  };  
</script>

<script>
  (function () {
    document.getElementById('form-register').addEventListener('submit', function (event) {

      if (models.length > 0) {
        event.preventDefault();
        alert('Please fill in either HKID Card No., Other National ID No, Travel Document No.');
      }
    }, false);
  })();
</script>