<div class="container" style="width: 1140px; position: static; text-align:right;">
    <% if (req.session.role !=undefined) {%>

    <a class="item" style="color: black;" href="/user/logout">Logout</a> <i class="fa fa-sign-out" aria-hidden="true"></i>

    <%}%>
</div>